<section class="user-auth">
  <section class="user-auth-content">
    <h1 class="sign-in-logo">Mumblr<span>.</span></h1>
    <form class="user-auth-form" action="<%= session_url %>" method="post">

      <section class="input">
        <input type="text"
               name="user[email]"
               placeholder="Email">
        <input type="password"
               name="user[password]"
               placeholder="Password">
      </section>
      <ul class="error-msg-list"><li class="error-msg"><%= flash[:notice] %></li></ul>
      <button class="submit">Sign In</button>
    </form>
  </section>
</section>
