<section class="user-auth">
  <a class="redir-sign-up" href="<%= new_user_url %>"><button>Sign Up</button></a>
  <a class="redir-log-in" href="<%= new_session_url %>"><button>Log In</button></a>
  <section class="user-auth-content">
    <h1 class="sign-in-logo">Mumblr<span>.</span></h1>
    <form class="user-auth-form" action="<%= session_url %>" method="post">

      <section class="input">
        <input type="text"
               name="user[email]"
               placeholder="Email">
        <input type="password"
               name="user[password]"
               placeholder="Password">
      </section>
      <% if flash[:notice] %>
        <ul class="error-msg-list"><li class="error-msg"><%= flash[:notice] %></li></ul>
      <% end %>
      <button class="submit">Sign In</button>
      <button class="demo-user">Demo User</button>
    </form>
  </section>
</section>

<script>
  $(function(){
    $(".demo-user").on("click", function(e){
      event.preventDefault();
      $("input[type='text']").val("sennacy@cat.com");
      $("input[type='password']").val("sennacy");
    });
  })
</script>
