<body>
  <h3>Welcome to mumblrr.com, <%= @user.username %></h3>
  <p>
    Hello there! Please use it with Love <3 <br>
    Start blogging today and follow the most trendy blogs!
  </p>
  <p>
    To activate your account, just click <a href="<%= @url %>">here</a>.
  </p>
  <p>Thanks for mumbling with us and have a great day :)!</p>

  <p>
    yours,
    Mumblr team
  </p>
</body>
