<body>
  <h1>Welcome to mumblrr.com, <%= @user.username %></h1>
  <p>
    Hello there! Please use it with <i class='icon-heart-red'/>,
    <b>Dashboard</b>: browse your own posts also the posts from blogs
    you subscribed
    <b>Explore</b>: check out hottest blogs!
  </p>
  <p>
    To activate your account, just click <a href="<%= @url %>">here</a>.
  </p>
  <p>Thanks for mumbling and have a great day :)!</p>
</body>
