<ul class="posts-index"></ul>
<% if (postsCollection._page !== 1) { %>
  <button class="prev-page">Prev</button>
<% } %>
<span class="page">Page <%= postsCollection._page %></span>

<% if (postsCollection._page < postsCollection._totalPages) { %>
  <button class="next-page">Next</button>
<% } %>
