<a href="#blog/<%= post.escape('blog_id') %>" class="thumbnail"><img src="<%= user.escape('avatar_url') %>"></a>
<b class="post-author"><%= user.escape('username') %></b>
<div class="post-show-container"></div>
