<ul class="post-options group">
  <li class="group" data-post-type="text"><i class="fa fa-font icon-text"></i><span class="post-type">Text</span></li>
  <li class="group" data-post-type="image"><i class="fa fa-camera-retro icon-image"></i><span class="post-type">Photo</span></li>
  <li class="group" data-post-type="quote"><i class="fa fa-quote-left icon-quote"></i><span class="post-type">Quote</span></li>
  <li class="group" data-post-type="link"><i class="fa fa-link icon-link"></i><span class="post-type">Link</span></li>
</ul>
