<section class="new-post">
<ul class="post-options group">
  <li class="group"><i class="fa fa-font icon-text" data-post-type="text"></i><span class="post-type">Text</span></li>
  <li class="group"><i class="fa fa-camera-retro icon-image" data-post-type="image"></i><span class="post-type">Photo</span></li>
  <li class="group"><i class="fa fa-quote-left icon-quote" data-post-type="quote"></i><span class="post-type">Quote</span></li>
  <li class="group"><i class="fa fa-link icon-link" data-post-type="link"></i><span class="post-type">Link</span></li>
</ul>
</section>
