<b><%= user.escape('username') %></b>
<a href="#blog/<%= blog.escape('id') %>"><%= blog.escape('title') %></a>
<ul class="blog-info-list">
  <li class="change-main-to-posts">Posts<span><%= num_posts %></span></li>
  <li>Recent tags<div class="recent-tags"></div></li>
</ul>
