<b><%= user.escape('username') %></b>
<p><%= blog.escape('title') %></p>
<ul class="blog-info-list">
  <li><a href="#posts">Posts<span><%= num_posts %></span></a></li>
  <li>Recent tags<div class="recent-tags"></div></li>
</ul>
