<header class="blog-header"
        style="background-image: url(<%= blog.escape('background_url') %>)">
  <% if (currentUser.escape('id') !== blog.owner().escape('id')) { %>
    <button class="follow-btn"><i class="icon-plus"></i> Follow</button>
  <% } %>
</header>
<section class="blog-main">
  <img src="<%= blog.owner().escape('avatar_url')%>" class="blog-avatar">
  <figcaption><%= blog.escape('title') %></figcaption>
  <p><%= blog.escape('description') %></p>
  <div class="blog-posts"></div>
</section>
