<header class="blog-header"
        style="background-image: url(<%= blog.escape('background_url') %>)">
  <button class="follow-btn">Follow</button>
</header>
<section class="blog-main">
  <img src="<%= blog.owner().escape('avatar_url')%>" class="blog-avatar">
  <figcaption><%= blog.escape('description') %></figcaption>

  <div class="blog-posts"></div>
</section>
