<div id="container">
  <section class="header-container"></section>
  <section class="blog-container"></section>
  <main id="main" class="group">
    <section class="main-content"></section>
    <section class="main-sidebar"></section>
  </main>
<%= button_to "Sign Out", session_url, method: :delete %>
<footer class="footer"></footer>
</div>
