<html>
<head></head>

<body>
  <header class="header">
    <h1>Hi! <%= current_user.username %></h1>
    <%= button_to "Sign Out", session_url, method: :delete %>
  </header>
  <div class="container">
    <section id="main">
      <section class="main-content"></section>
      <section class="main-sidebar"></section>
    </section>
    <footer class="footer"></footer>
  </div>
</body>
</html>
