/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html, body, main, div, section, ul, li, img, b, span, strong, a,
p, h1, h2, h3, h4, article, i, button, figure, figcaption {
  border: 0;
  padding: 0;
  margin: 0;

  font: inherit;
  text-align: inherit;
  text-decoration: inherit;
  color: inherit;

  background: transparent
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

img {
  width: 100px;
  height: auto;
  display: block;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

input[type="password"],
input[type="email"],
input[type="text"],
label, textarea {
  display: block;
  border: 0;
  outline: 0;
  font-size: 14px;
  // font-family: TBD;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
  outline: 0;
  border: 0;
  text-align: center;
}

textarea {
  min-height: 80px;
}

// Layout

body {
  font-family: "Open Sans", "PT Sans", "Source Sans Pro", Arial, sans-serif;
  background: #36465d;
  vertical-align: baseline;
  height: 100vh;
  width: 100vw;
}

#main {
  color: #444;
  width: 900px;
  margin: 0 auto;
}

.main-content {
  margin: 0 8px;
  width: 625px;
  float: left;
}

.main-sidebar {
  width: 229px;
  float: right;
  color: #fff;
  margin-right: -1px;
  margin-top: -5px;
  opacity: 1;
}

.footer {

}

h1 {
  font-weight: 400;
  font-size: 32px;
  line-height: 47px;
}

.hide {
  display: none;
}

.copyright {
  text-shadow: 0 0 2px #000;
  position: fixed;
  bottom: 10px;
  left: 10px;
  color: #eee;
  font-size: 13px;
}

// sprites
[class*="icon-"] {
  background: image-url("sprite.png") no-repeat;
  display: inline-block;
  overflow: hidden;
}

.icon-music { background-position: -10px -0px; width: 50px; height: 50px; }
.icon-text { background-position: -10px -60px; width: 44px; height: 44px; }
.icon-image { background-position: -10px -114px; width: 40px; height: 40px; }
.icon-link { background-position: -10px -164px; width: 40px; height: 40px; }
.icon-quote { background-position: -10px -214px; width: 40px; height: 40px; }
.icon-explore { background-position: -10px -264px; width: 35px; height: 35px; }
.icon-home { background-position: -10px -309px; width: 32px; height: 32px; }
.icon-setting-big:hover { background-position: -10px -351px; width: 32px; height: 32px; }
.icon-setting-big { background-position: -10px -393px; width: 32px; height: 32px; }
.icon-user { background-position: -10px -435px; width: 32px; height: 32px; }
.icon-comment { background-position: -10px -477px; width: 20px; height: 20px; }
.icon-delete { background-position: -10px -507px; width: 20px; height: 20px; }
.icon-delete:hover { background-position: -10px -537px; width: 20px; height: 20px; }
.icon-edit { background-position: -10px -567px; width: 20px; height: 20px; }
.icon-edit:hover { background-position: -10px -597px; width: 20px; height: 20px; }
.icon-heart-broken { background-position: -10px -627px; width: 20px; height: 20px; }
.icon-heart-red { background-position: -10px -657px; width: 20px; height: 20px; }
.icon-heart { background-position: -10px -687px; width: 20px; height: 20px; }
.icon-point-right { background-position: -10px -717px; width: 20px; height: 20px; }
.icon-search { background-position: -10px -747px; width: 20px; height: 20px; }
.icon-search:focus { background-position: -10px -777px; width: 20px; height: 20px; }
.icon-setting { background-position: -10px -807px; width: 20px; height: 20px; }
.icon-circle-down { background-position: -10px -837px; width: 16px; height: 16px; }
.icon-following-small { background-position: -10px -863px; width: 16px; height: 16px; }
.icon-heart-small { background-position: -10px -889px; width: 16px; height: 16px; }
.icon-setting-small { background-position: -10px -915px; width: 16px; height: 16px; }
.icon-plus { background-position: -36px -837px; width: 14px; height: 14px; }


.icon-search { background-position: -10px -717px; width: 20px; height: 20px; }
.icon-search:focus { background-position: -10px -747px; width: 20px; height: 20px; }
.icon-setting { background-position: -10px -777px; width: 20px; height: 20px; }
.icon-circle-down { background-position: -10px -807px; width: 16px; height: 16px; }
.icon-following-small { background-position: -10px -833px; width: 16px; height: 16px; }
.icon-heart-small { background-position: -10px -859px; width: 16px; height: 16px; }
.icon-point-right { background-position: -10px -885px; width: 16px; height: 16px; }
.icon-setting { background-position: -10px -911px; width: 16px; height: 16px; }
.icon-plus { background-position: -36px -807px; width: 14px; height: 14px; }
// User auth form
.user-auth {
  height: 100vh;
  background: linear-gradient(
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.2)
      ),image-url("background/back2.jpg");
  background-size: cover;
  overflow: hidden;
  padding: 0 15px;
}

.user-auth-content {
  margin: 8% auto;
  width: 300px;
  color: #fff;
}

.user-auth-form {
}

.sign-in-logo {
  font-size: 50px;
  font-family: Verdana;
  font-weight: bold;
  text-align: center;
}

.user-auth-content > p {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 5px;
}

.input {
  color: #000;
  width: 100%;
  margin: 15px 0 12px 0;
}

.input input {
  width: 100%;
  height: 45px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 16px;
}

.input input:not(:last-child) {
  border-bottom: 1px solid #e5e5e5;
}

.submit {
  padding: 2px 6px 3px;
  background: #40a3df;
}

.user-auth-form .submit {
  height: 45px;
  width: 100%;
}

.error-msg-list {
  margin-bottom: 12px;
}

.error-msg {
  display: block;
  width: 100%;
  min-height: 45px;
  background: rgba(0, 0, 0, 0.3);
  padding: 15px 0;
  text-align: center;
  box-sizing: border-box;
  word-wrap: break-word;
}

.error-msg:not(:last-child) {
  margin-bottom: 1px;
}

.demo-user {
  padding: 2px 6px 3px;
  margin-top: 5px;
  height: 45px;
  width: 100%;
  background: #74cc9d;
}

a.demo-user {
  display: block;
  padding-top: 12px;
  box-sizing: border-box;
  text-align: center;
}

.redir-sign-up > button, .redir-log-in > button {
  display: block;
  float: right;
  margin: 10px 5px;
  font-size: 14px;
  padding: 6px 8px;
  border-radius: 3px;
}

.redir-sign-up > button{
  background: white;
}

.redir-log-in > button {
  background: rgba(0, 0, 0, 0.2);
  color: white;
}

// header
.header {
  position: fixed;
  z-index: 5;
  background: #36465d;
  padding: 15px;
  display: block;
  box-shadow: 0 0 0 1px rgba(255,255,255,.13);
  top: 0px;
  width: 100%;
  color: rgba(255,255,255,.5);
}

.logo {
  font-size: 28px;
  font-family: "Overlock";
  font-weight: bold;
  color: #fff;
  display: block;
  float: left;
  margin-right: 20px;
}

.search-bar {
  padding: 9px 8px 9px 40px;
  border-radius: 3px;
  font-size: 16px;
  background: rgba(0, 0, 0, 0.16);
  float: left;
  width: 40%;

  box-sizing: border-box;
}

.search-bar:focus {
  background: #fff;
  color: #000;
}

.icon-search {
  position: relative;
  top: 6px;
  left: -39%;
}

.icon-user, .icon-home {
  cursor: pointer;
}

.header-navbar {
  float: right;
  width: 120px;
  margin-right: 35px;
}

.header-navbar > li {
  margin-left: 28px;
  float: left;
}

.header-navbar > li:hover {
  color: #fff;
}

.redir-dashboard:before {
  content: attr(title);
  color: #2F4054;
  display: none;
  font-size: 14px;
  white-space: nowrap;
  padding: 8px 10px;
  border-radius: 3px;
  background: #fff;
  position: absolute;
  top: 60px;
  right: 60px;
}

.redir-dashboard:after {
  content: "";
  display: none;
  width: 2px;
  border-bottom: 7px solid red;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  position: absolute;
  top: 30px;
  right: -2px;
}

.redir-dashboard:hover:before,
.redir-dashboard:hover:after {
  display: block;
}

.to-user-list {
  position: relative;
}

.user-nav-list {
  display: none;
  position: absolute;
  top: 44px;
  right: 0;
  background: #EFEFEF;
  width: 240px;
  border-radius: 3px;
  border: 1px solid #000;
}

.to-user-list:hover .user-nav-list,
.to-user-list:hover .user-nav-list:before, {
  display: block;
}

.user-nav-list a {
  display: block;
  padding: 6px 10px;
  color: #000;
}

.user-nav-list:before {
  content: "";
  display: none;
  width: 2px;
  border-bottom: 7px solid #EFEFEF;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  position: relative;
  top: -7px;
  right: -218px;
}

.user-nav-list > li:first-child {
  color: #737373;
  font-size: 12px;
  padding: 6px 10px;
}

.user-nav-list > li:not(:first-child){
  background: #fff;
}

.user-nav-list > li:not(:first-child):hover {
  background: #e0ebf5;
}

.user-nav-list > li:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.user-nav-list span {
  display: block;
  float: right;
}

.log-out {
  cursor: pointer;
  font-weight: bold;
}

.user-nav-list [class*="icon-"] {
  margin-right: 10px;
}

// New Posts Options
.post-options {
  font-family: "Raleway";
  font-size: 14px;
  margin-bottom: 20px;
  padding: 17px 0;
  width: 352px;
  background: #fff;
  border-radius: 3px;
  position: relative;
  right: -85px;
}

.icon-text:hover, .icon-image:hover,
.icon-quote:hover, .icon-link:hover {
  position: relative;
  top: -3px;
}

.icon-text:active, .icon-image:active,
.icon-quote:active, .icon-link:active {
  top: 3px;
}

.post-options > li {
  cursor: pointer;
  width: 88px;
  box-sizing: border-box;
  float: left;
  padding: 0 24px;
}

.post-options > li:not(:last-child) {
  border-right: 1px solid #e5e5e5;
}

.post-type {
  color: #7a7a7a;
  display: block;
  float: left;
  width: 100%;
  text-align: center;
  margin-top: 8px;
}

// Post Index

.posts-main {
  margin-top: 92px;
}

.posts-index {
  margin-bottom: 100px;
}

.posts-index-item {
  margin-bottom: 20px;
  width: 540px;
  font-size: 14px;
  background: #fff;
  padding: 15px 0 0;
  word-wrap: break-word;
  border-radius: 3px;
  position: relative;
  right: -85px;
  box-sizing: border-box;
}

.thumbnail {
  box-sizing: border-box;
  position: absolute;
  border-radius: 3px;
  width: 64px;
  height: 64px;
  left: -85px;
  top: 0;
}

.post {
  border-radius: 3px;
  margin-top: -3px;
  background: #fff;
}

.post-author {
  font-family: "Signika Negative";
  word-wrap: normal;
  white-space: nowrap;
  font-size: 13px;
  font-weight: 600;
  margin: -3px 0 15px;
  line-height: 20px;
  width: 100%;
  display: block;
  height: 20px;
  vertical-align: middle;
  position: relative;
}

.post-author, .post-footer {
  padding: 0 20px;
  box-sizing: border-box;
}

.post-container {
  display: block
}

.post-container > p,
.post-container > h1 {
  display: block;
  box-sizing: border-box;
  padding-right: 20px;
  padding-left: 20px;
  word-wrap: break-word;
}

.post-container > h1 {
  margin-bottom: 10px;
}

.post-container > p {
  line-height: 21px;
}

.post-container > img {

}

.post-container span {

}

.post-container > a {

}

.post-image {
  margin-bottom: 20px;
}

.post-footer {
  height: 45px;
  font-weight: bold;
  color: #a1a1a1;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  line-height: 45px;
}

.quote {
  font-family: "Libre Baskerville", "Vollkorn";
}

.quote:before {
  content: "\201C";
  margin-right: 3px;
}

.quote:after {
  content: "\201D";
  margin-left: 3px;
}

.quote-from:before {
  content: "\2014";
  margin-right: 6px;
}

// post-link
.link {
  display: block;
  background: #f2f2f2;
  color: #000;
  padding: 20px;
}

.link h4 {
  font-size: 22px;
  font-family: "Lato";
  font-weight: 700;
}

.link h4:after {
  content: " >"
}

// post-footer

.post-response-list {
  margin-top: 10px;
  float: right;
  width: 80px;
}

.post-response-list > li {
  cursor: pointer;
}

.icon-heart, .icon-comment {
  float: left;
  margin-left: 18px;
}

// new post form modal

.block-modal {
  background: rgba(54,70,93,.95);
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.post-modal {
  z-index: 15;
  top: 90px;
  position: absolute;
  left: 50%;
  transform: translateX(calc(-50% - 80px));
}

.post-form input,
.post-form textarea {
  padding: 0 20px 10px 20px;
  width: 100%;
  box-sizing: border-box;
}

input.title {
  font-size: 36px;
}

.post-form .close, .post-form .submit {
  margin: 15px 20px;
  padding: 6px;
  border-radius: 3px;
  font-size: 13px;
}

.post-form .close {
  color: #fff;
  background: #9c9c9c;
}

.post-form .submit {
  float: right;
}

.post-form .quote {
  font-family: "Libre Baskerville", "Vollkorn";
  font-size: 30px;
}

.post-form .input-link {
  padding: 55px 35px;
  border-top: 2px dashed #ccc;
  border-bottom: 2px dashed #ccc;
  background: #f2f2f2;
}

.post-form .link-desc {
  padding-top: 22px;
}

.image-preview {
  margin-bottom: 22px;
}

.disabledBtn {
  color: #ccc;
  cursor: default;
}

// blog info list

.blog-info {
  color: rgba(255,255,255,.5);
  font-size: 14px;
  margin-top: 92px;
}

.blog-info > a {
  font-family: "Raleway";
  color: rgba(255,255,255,.5);
  font-weight: 100;
  font-size: 14px;
  margin: 5px 0 10px 0;
  display: block;
  cursor: pointer;
}

.blog-info-list {
  width: 220px;
  border-top: 1px solid rgba(255,255,255,.08);
}

.blog-info-list > li {
  width: 100%;
  border-bottom: 1px solid rgba(255,255,255,.08);
}

.blog-info-list > li:last-child {
  padding: 10px;
  box-sizing: bo
}

.blog-info-link {
  display: block;
  padding: 10px;
  box-sizing: border-box;
}

.blog-info-list > li:hover {
  background: rgba(255,255,255, .08);
}

.blog-info-link.focus {
  background: rgba(255,255,255, .12);
}

.blog-info-link > span {
  display: block;
  float: right;
}

// blog show

.blog-container {
  height: 100%;
}

.blog {
  background: #f0f0f0;
}

.blog-header {
  height: 350px;
  width: 100%;
  position: relative;
}

.follow-btn {
  padding: 5px 8px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  float: right;
  margin: 10px 30px;
}

.icon-plus {
  margin-right: 5px;
}

.blog-main  {
  margin: -75px auto 0;
  position: relative;
  z-index: 5;
  color: #444;
  width: 625px;
}

.blog-avatar {
  border-radius: 50%;
  width: 150px;
  border: 5px solid #e7e7e7;
  margin: 0 auto;
}

.blog-main figcaption {
  text-align: center;
  font-size: 36px;
  font-weight: bold;
}

.blog-posts {
  margin-top: 40px;
  padding-bottom: 100px;
}

.blog-posts .post {
  margin-bottom: 30px;
  background: #fff;
  word-wrap: break-word;
  overflow: hidden;
  border: 1px solid #dfdfdf;
}

.blog-posts .post h1 {
  padding: 20px;
}
