/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

// reset
 html, body, main, div, section, ul, li, img, b, span, strong, a,
 p, h1, h2, h3, h4, h5, article, i, button, figure, figcaption {
   border: 0;
   padding: 0;
   margin: 0;

   font: inherit;
   text-align: inherit;
   text-decoration: inherit;
   color: inherit;

   background: transparent
 }

 a {
   text-decoration: none;
 }

 ul, li {
   list-style: none;
 }

 img {
   width: 100px;
   height: auto;
   display: block;
 }

 .group:after {
   content: "";
   display: block;
   clear: both;
 }

 input[type="password"],
 input[type="email"],
 input[type="text"],
 label, textarea {
   display: block;
   border: 0;
   outline: 0;
   font-size: 14px;
   -webkit-appearance: none;
   -moz-appearance: none;
 }

 button,
 input[type="submit"] {
   cursor: pointer;
   outline: 0;
   border: 0;
   text-align: center;
 }

 textarea {
   min-height: 80px;
 }


// Layout
body {
  font-family: "Open Sans", "PT Sans", "Source Sans Pro", Arial, sans-serif;
  background: #36465d;
  vertical-align: baseline;
  height: 100vh;
  width: 100vw;
}

#main {
  color: #444;
  width: 900px;
  margin: 0 auto;
}

.main-content {
  margin: 0 8px;
  width: 625px;
  float: left;
}

.main-sidebar {
  width: 229px;
  float: right;
  color: #fff;
  margin-right: -1px;
  margin-top: -5px;
  opacity: 1;
}

.footer {

}

h1 {
  font-weight: 400;
  font-size: 32px;
  line-height: 47px;
}

input.hide, textarea.hide, label.hide,
[class*="icon-"].hide, p.hide, ul.hide, div.hide {
  display: none;
}

.copyright {
  text-shadow: 0 0 2px #000;
  position: fixed;
  bottom: 10px;
  left: 10px;
  color: #eee;
  font-size: 13px;
}

.block {
  background: #36465d;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 500;
}

// sprites
[class*="icon-"] {
  background: image-url("sprite.png") no-repeat;
  display: inline-block;
  overflow: hidden;
}

.icon-music { background-position: -10px -0px; width: 50px; height: 50px; }
.icon-spinner { background-position: -10px -60px; width: 45px; height: 45px; }
.icon-text { background-position: -10px -115px; width: 44px; height: 44px; }
.icon-image-big { background-position: -10px -169px; width: 40px; height: 40px; }
.icon-image { background-position: -10px -219px; width: 40px; height: 40px; }
.icon-link { background-position: -10px -269px; width: 40px; height: 40px; }
.icon-quote { background-position: -10px -319px; width: 40px; height: 40px; }
.icon-backward { background-position: -10px -369px; width: 35px; height: 35px; }
.icon-explore { background-position: -10px -414px; width: 35px; height: 35px; }
.icon-forward { background-position: -10px -459px; width: 35px; height: 35px; }
.icon-home { background-position: -10px -504px; width: 32px; height: 32px; }
.icon-setting-big { background-position: -10px -546px; width: 32px; height: 32px; }
.icon-setting-big:hover { background-position: -10px -588px; width: 32px; height: 32px; }
.icon-user { background-position: -10px -630px; width: 32px; height: 32px; }
.icon-fb-logo-blue { background-position: -10px -672px; width: 29px; height: 29px; }
.icon-fb-logo-white { background-position: -10px -711px; width: 29px; height: 29px; }
.icon-circle-up { background-position: -10px -750px; width: 25px; height: 25px; }
.icon-point-up { background-position: -10px -785px; width: 25px; height: 25px; }
.icon-delete:hover { background-position: -10px -820px; width: 20px; height: 20px; }
.icon-setting:hover { background-position: -10px -850px; width: 20px; height: 20px; }
.icon-comment { background-position: -10px -880px; width: 20px; height: 20px; }
.icon-delete { background-position: -10px -910px; width: 20px; height: 20px; }
.icon-edit { background-position: -10px -940px; width: 20px; height: 20px; }
.icon-edit:hover { background-position: -10px -970px; width: 20px; height: 20px; }
.icon-heart-broken { background-position: -10px -1000px; width: 20px; height: 20px; }
.icon-heart-red { background-position: -10px -1030px; width: 20px; height: 20px; }
.icon-heart { background-position: -10px -1060px; width: 20px; height: 20px; }
.icon-pacman { background-position: -10px -1090px; width: 20px; height: 20px; }
.icon-search { background-position: -10px -1120px; width: 20px; height: 20px; }
.icon-search:hover { background-position: -10px -1150px; width: 20px; height: 20px; }
.icon-setting { background-position: -10px -1180px; width: 20px; height: 20px; }
.icon-explore-small { background-position: -10px -1210px; width: 18px; height: 18px; }
.icon-tool { background-position: -10px -1238px; width: 17px; height: 17px; }
.icon-circle-down { background-position: -10px -1265px; width: 16px; height: 16px; }
.icon-following-small { background-position: -10px -1291px; width: 16px; height: 16px; }
.icon-heart-small { background-position: -10px -1317px; width: 16px; height: 16px; }
.icon-point-right { background-position: -10px -1343px; width: 16px; height: 16px; }
.icon-setting-small { background-position: -10px -1369px; width: 16px; height: 16px; }
.icon-minus { background-position: -10px -1395px; width: 15px; height: 15px; }
.icon-plus { background-position: -36px -1265px; width: 14px; height: 14px; }


.icon-spinner {
  animation: spinning 2s infinite;
  animation: spinning 1s infinite steps(8);
}

.block .icon-spinner {
  position: absolute;
  top: 50%;
  left: calc(50% - 30px);
  transform: translate(-50%);
}

@keyframes spinning {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(359deg);
  }
}

@-webkit-keyframes spinning {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

// header
.header {
  position: fixed;
  z-index: 5;
  background: #36465d;
  padding: 15px 15px 8px;
  display: block;
  box-shadow: 0 0 0 1px rgba(255,255,255,.13);
  top: 0px;
  width: 100%;
  color: rgba(255,255,255,.5);
}

.logo {
  float: left;
  margin-right: 20px;
}

.logo > img {
  position: absolute;
  width: 50px;
}

.search-bar {
  padding: 9px 8px 9px 40px;
  border-radius: 3px;
  font-size: 16px;
  background: rgba(0, 0, 0, 0.16);
  float: left;
  width: 40%;
  margin-left: 60px;
  box-sizing: border-box;
}

.search-bar:focus {
  background: #fff;
  color: #000;
}

.icon-search {
  position: relative;
  top: 6px;
  left: -39%;
}

.icon-user, .icon-home {
  cursor: pointer;
}

.header-navbar {
  float: right;
  width: 193px;
  margin-right: 35px;
}

.header-navbar > li {
  margin-left: 28px;
  float: right;
}

.header-navbar > li:hover {
  color: #fff;
}

.redir-dashboard:before,
.redir-explore:before {
  content: attr(title);
  color: #2F4054;
  display: none;
  font-size: 14px;
  white-space: nowrap;
  padding: 8px 10px;
  border-radius: 3px;
  background: #fff;
  position: absolute;
  top: 60px;
}

.redir-dashboard:before {
  right: 60px;
}

.redir-explore:before {
  right: 150px;
}

.redir-dashboard:after,
.redir-explore:after {
  content: "";
  display: none;
  width: 2px;
  border-bottom: 7px solid #fff;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  position: absolute;
  top: 53px;
  box-sizing: border-box;
}

.redir-dashboard:after {
  right: 118px;
}

.redir-explore:after {
  right: 180px;
}

.redir-dashboard:hover:before,
.redir-dashboard:hover:after,
.redir-explore:hover:before,
.redir-explore:hover:after {
  display: block;
}

.header-navbar .to-user-list {
  position: relative;
  margin-left: 10px;
  border-right: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-left: 18px solid transparent;
}

.user-nav-list {
  display: none;
  position: absolute;
  top: 44px;
  right: 0;
  background: #EFEFEF;
  width: 240px;
  border-radius: 3px;
  border: 1px solid #000;
}

.to-user-list:hover .user-nav-list,
.to-user-list:hover .user-nav-list:before, {
  display: block;
}

.user-nav-list a {
  display: block;
  padding: 6px 10px;
  color: #000;
}

.user-nav-list:before {
  content: "";
  display: none;
  width: 2px;
  border-bottom: 7px solid #EFEFEF;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  position: relative;
  top: -7px;
  right: -218px;
}

.user-nav-list > li:first-child {
  color: #737373;
  font-size: 12px;
  padding: 6px 10px;
}

.user-nav-list > li:not(:first-child){
  background: #fff;
}

.user-nav-list > li:not(:first-child):hover {
  background: #e0ebf5;
}

.user-nav-list > li:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.user-nav-list span {
  display: block;
  float: right;
}

.log-out {
  cursor: pointer;
  font-weight: bold;
}

.user-nav-list [class*="icon-"] {
  margin-right: 10px;
}
