/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
html, body, div, section, ul, li, img, b, span, strong, a,
p, h1, h2, h3, h4, article, i, button, figure, figcaption {
  border: 0;
  padding: 0;
  margin: 0;

  font: inherit;
  text-align: inherit;
  text-decoration: inherit;

  background: transparent
}

ul, li {
  list-style: none;
}

img {
  width: 100px;
  height: auto;
  display: block;
}

.group:after {
  content: "";
  display: block;
  clear: both;
}

input[type="password"],
input[type="email"],
input[type="text"],
textarea {
  display: block;
  border: 0;
  border-radius: 3px;
  outline: 0;
  font-size: 14px;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button,
input[type="submit"] {
  cursor: pointer;
  outline: 0;
  border: 0;
  text-align: center;
}



#main {
  padding: 0 120px;
}
