<span class="logo">m</span>
<input type="text" class="search-bar" placeholder="Search Tumblr">
<span><i class="icon-search"></i></span>

<ul class="header-navbar">
  <li><i class="icon-home"></i></li>
  <li class="to-user-list"><i class="icon-user"></i>
    <ul class="user-nav-list">
      <li><a href="#/likes"><i class="icon-heart-small"></i>Likes<span><%= num_likes %></a></li>
      <li><a href="#/following"><i class="icon-following-small"></i>Following<span><%= num_likes %></a></li>
      <li><a href="#/user/edit"><i class="icon-setting-small"></i>Edit Account Info</a></li>
    </ul>
  </li>
</ul>
