<span class="logo">m</span>
<input type="text" class="search-bar query" placeholder="Search Tumblr">
<i class="icon-search"></i>

<ul class="header-navbar">
  <% if (user.isSignedIn()) { %>
    <li class="to-user-list"><i class="icon-user"></i>
      <ul class="user-nav-list">
        <li>ACCOUNT<span class="log-out">Log Out</span></li>
        <li><a href="#blog/<%= _.result(user, "blogId") %>"><i class="icon-point-right"></i>Your Blog</a></li>
        <li><a href="#likes"><i class="icon-heart-small"></i>Likes<span><%= user.likedPosts().length %></span></a></li>
        <li><a href="#followings"><i class="icon-following-small"></i>Following<span><%= user.followedBlogs().length %></span></a></li>
        <li><a href="#setting"><i class="icon-setting-small"></i>Edit Account Info</a></li>
      </ul>
    </li>
    <li>
      <a href="#dashboard" class="redir-dashboard" title="Go To Dashboard"><i class="icon-home"></i></a>
    </li>
  <% } %>
  <li>
    <a href="#explore" class="redir-explore" title="Explore!"><i class="icon-explore"></i></a>
  </li>
</ul>
