<!DOCTYPE html>
<html>
<head>
  <title>Mumblr</title>
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700|Merriweather:400,700|Libre+Baskerville:400,700|Pacifico|Source+Sans+Pro:400,300|PT+Sans|Droid+Sans|Open+Sans:400,300|Slabo+27px|Vollkorn|Signika+Negative:400,600|Lato:400,700|Raleway:400,100|Lobster+Two' rel='stylesheet' type='text/css'>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-68839341-1', 'auto');
    ga('send', 'pageview');

  </script>
</head>
<body>

<%= yield %>
<span class="copyright">&copy; 2015 <a href="http://www.chiaowenlin.com" target="_blank">Chiao-Wen Lin</a> for demonstration only</span>
</body>
</html>
