<!DOCTYPE html>
<html>
<head>
  <title>Mumblr</title>
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700|Merriweather:400,700|Libre+Baskerville:400,700|Pacifico|Source+Sans+Pro:400,300|PT+Sans|Droid+Sans|Open+Sans:400,300|Slabo+27px|Vollkorn|Signika+Negative:400,600|Lato:400,700|Raleway:400,100|Lobster+Two' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
<span class="copyright">&copy; 2015 <a href="http://www.chiaowenlin.com" target="_blank">Chiao-Wen Lin</a> for demonstration only</span>
</body>
</html>
